
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.box1 {
    background-color: limegreen;
    font-size: 1rem;
    width: 4rem;
    height: 3rem;
    top: 2.2rem;
}

.box2 {
    background-color: rgb(47, 99, 181);
    font-size: 2rem;
    width: 8rem;
    height: 4.5rem;
    top: 1.9rem;
}

.box3 {
    background-color: rgb(34, 43, 75);
    font-size: 4rem;
    width: 11rem;
    height: 7.5rem;
    top: 1rem;
}

.box4 {
    background-color: rgb(175, 61, 175);
    font-size: 2rem;
    width: 8rem;
    height: 4.5rem;
    top: 1.9rem;
}

.box5 {
    background-color: orange;
    font-size: 1rem;
    width: 4rem;
    height: 3rem;
    top: 2.2rem;
}
