/* Task 10: Assign text colors using imported variables */
// Import color variables
@import "10-colors";

// Apply text colors to classes
.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}
