/* Task 15: Assign font sizes and text color with media queries */
// Apply default font size to h1 tags
h1 {
    font-size: 20px;
  }
  
  // Apply font size for smaller screens using media queries
  @media screen and (max-width: 960px) {
    h1 {
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 320px) {
    h1 {
      font-size: 14px;
    }
  
    // Apply text color for h1.small tags
    h1.small {
      color: #1D1D1D;
    }
  }
